//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>#{headers && headers.title || ''}</title>
      <meta name="description" content="#{headers && headers.description || ''}" />
      <meta name="keywords" content="#{headers && headers.keywords || ''}" />
      <meta http-equiv="content-language" content="#{headers && headers.language || 'en'}" />
      <meta http-equiv="content-type" content="#{headers && headers.contentType || 'UTF-8'}" />
      <meta name="revisit-after" content="#{headers && headers.revisitAfter || '7 days'}" />
      <meta name="robots" content="#{headers && headers.robots || 'index, follow'}" />
      <meta property="og:title" content="#{headers && headers.title || ''}" />
      <meta property="og:url" content="#{headers && headers.linkUrl || '/buyer/auction/results'}" />
      <meta property="og:image" content="#{headers && headers.imageUrl || ''}" />
      <meta property="og:type" content="#{headers && headers.itemType || 'website'}" />
      <meta property="og:description" content="#{headers && headers.description || ''}" />
      <meta property="og:locale" content="#{headers && headers.contentLocale || 'en_US'}" />
      <link rel="stylesheet" href="//staging.stackblend.com/css/embed.css">
      <style type="text/css">.-fsb-self-57595ad9, .-fsb-preset-57595ad9 { margin-left: 10px; margin-right: 10px; width: 1px; background: rgba(22, 98, 250, 1); -fsb-reusable-name: splitter; -fsb-reusable-id: 57595ad9 } .-fsb-self-4011457d, .-fsb-preset-4011457d { text-align: center; margin-top: 30px; font-size: 18px; -fsb-reusable-name: role_title; -fsb-reusable-id: 4011457d } .-fsb-self-5d1104e1, .-fsb-preset-5d1104e1 { -fsb-reusable-name: role_subtitle; -fsb-reusable-id: 5d1104e1; text-align: center; margin-top: 30px; font-size: 14px; margin-bottom: 20px } .-fsb-self-856191b9, .-fsb-preset-856191b9 { -fsb-reusable-name: role_button; -fsb-reusable-id: 856191b9; margin-bottom: 15px } .-fsb-self-69085d73, .-fsb-preset-69085d73 { background: rgba(22, 98, 250, 1); color: rgba(255, 255, 255, 1); -fsb-reusable-name: role_box; -fsb-reusable-id: 69085d73; padding-bottom: 15px } .-fsb-self-7a279686, .-fsb-preset-7a279686 { -fsb-reusable-name: quote_box_title; -fsb-reusable-id: 7a279686; font-size: 15px; font-weight: bold; color: rgba(22, 98, 250, 1); margin-bottom: 5px } .-fsb-self-4839e353, .-fsb-preset-4839e353 { -fsb-reusable-name: quote_box_subtitle; -fsb-reusable-id: 4839e353; margin-bottom: 15px; font-size: 13px; color: rgba(69, 69, 69, 1) } .-fsb-self-c6ba5b53, .-fsb-preset-c6ba5b53 { background: rgba(214, 237, 255, 1); border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; margin-bottom: 5px; border-top-style: solid; border-top-color: rgba(77, 195, 250, 1); border-left-style: solid; border-left-color: rgba(77, 195, 250, 1); border-right-style: solid; border-right-color: rgba(77, 195, 250, 1); border-bottom-color: rgba(77, 195, 250, 1); border-bottom-style: solid; border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; padding-top: 5px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px; -fsb-reusable-name: quote_box_review_item; -fsb-reusable-id: c6ba5b53 } .-fsb-self-65ec89d1, .-fsb-preset-65ec89d1 { font-size: 13px; color: rgba(69, 69, 69, 1); background: rgba(255, 255, 255, 0); padding-top: 5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; -fsb-reusable-name: quote_box_review_detail; -fsb-reusable-id: 65ec89d1 } .-fsb-self-1715aae1, .-fsb-preset-1715aae1 { text-align: center; margin-bottom: 10px; margin-top: 10px; -fsb-reusable-name: quote_box_notice; -fsb-reusable-id: 1715aae1 } .-fsb-self-b5cd72c0, .-fsb-preset-b5cd72c0 { -fsb-reusable-name: quote_box_input_title; -fsb-reusable-id: b5cd72c0; font-size: 13px } .-fsb-self-8050ab15, .-fsb-preset-8050ab15 { -fsb-inherited-presets: ; -fsb-reusable-name: quote_box_input_subtitle; -fsb-reusable-id: 8050ab15; font-size: 12px; color: rgba(128, 128, 128, 1); line-height: 16px; padding-top: 5px } .-fsb-self-b6c9ad89 > :first-child, .-fsb-preset-b6c9ad89 > :first-child { display: block; -fsb-for-children: true; margin-right: 0px; -fsb-reusable-name: quote_box_input; -fsb-reusable-id: b6c9ad89; margin-top: 3px } .-fsb-self-180079a2, .-fsb-preset-180079a2 { margin-top: 25px; -fsb-reusable-name: quote_box; -fsb-reusable-id: 180079a2 } .-fsb-self-ace3bb6e, .-fsb-preset-ace3bb6e { font-weight: bold; -fsb-reusable-name: navigation_title; -fsb-reusable-id: ace3bb6e; font-size: 15px } .-fsb-self-39295633, .-fsb-preset-39295633 { -fsb-reusable-name: membership_title; -fsb-reusable-id: 39295633; text-align: center; margin-bottom: 15px; font-weight: bold; font-size: 18px; border-bottom-width: 1px; border-bottom-color: rgba(255, 255, 255, 1) } .-fsb-self-e1ea91ae, .-fsb-preset-e1ea91ae { -fsb-reusable-name: membership_price; -fsb-reusable-id: e1ea91ae; text-align: center; margin-top: 15px; background: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 1); padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; font-size: 14px; border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.5); border-left-style: solid; border-left-color: rgba(255, 255, 255, 0.5); border-bottom-style: solid; border-right-style: solid; border-right-color: rgba(255, 255, 255, 0.5); border-bottom-color: rgba(255, 255, 255, 0.5); border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px } .-fsb-self-7b53142e, .-fsb-preset-7b53142e { -fsb-reusable-name: membership_detail; -fsb-reusable-id: 7b53142e; text-align: center; font-size: 14px } .-fsb-self-bb540e9d, .-fsb-preset-bb540e9d { -fsb-reusable-name: membership_box_top; -fsb-reusable-id: bb540e9d; color: rgba(255, 255, 255, 1); background: rgba(22, 98, 250, 1); padding-left: 30px; padding-right: 30px; padding-bottom: 20px; padding-top: 20px; border-right-color: rgba(255, 255, 255, 1); border-right-width: 1px; border-left-width: 1px; border-left-color: rgba(255, 255, 255, 1); border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-left-style: solid; border-right-style: solid } .-fsb-self-023baa4c, .-fsb-preset-023baa4c { -fsb-inherited-presets: ; -fsb-reusable-name: membership_box_bottom; -fsb-reusable-id: 023baa4c; background: rgba(22, 98, 250, 1); padding-bottom: 15px; border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; border-right-style: solid; border-right-color: rgba(255, 255, 255, 1); border-left-color: rgba(255, 255, 255, 1); border-left-style: solid; border-left-width: 1px; border-right-width: 1px } .-fsb-self-49a6327a, .-fsb-preset-49a6327a { font-weight: bold; color: rgba(22, 98, 250, 1); padding-right: 0px; margin-bottom: 3px; padding-left: 0px; -fsb-reusable-name: inbox_item_box_title; -fsb-reusable-id: 49a6327a } .-fsb-self-3bec5885, .-fsb-preset-3bec5885 { padding-left: 0px; padding-right: 0px; text-align: center; color: rgba(255, 255, 255, 1); background: rgba(77, 195, 250, 1); border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; font-size: 11px; padding-top: 1px; -fsb-reusable-name: inbox_item_box_tag; -fsb-reusable-id: 3bec5885 } .-fsb-self-4aee31ab, .-fsb-preset-4aee31ab { padding-left: 0px; padding-right: 0px; color: rgba(69, 69, 69, 1); font-size: 12px; -fsb-reusable-name: inbox_item_box_subtitle; -fsb-reusable-id: 4aee31ab } .-fsb-self-5a671a7d, .-fsb-preset-5a671a7d { background: rgba(214, 237, 255, 1); padding-bottom: 5px; font-size: 13px; padding-top: 5px; margin-bottom: 5px; border-top-color: rgba(77, 195, 250, 1); border-top-style: solid; border-left-color: rgba(77, 195, 250, 1); border-left-style: solid; border-right-style: solid; border-right-color: rgba(77, 195, 250, 1); border-bottom-color: rgba(77, 195, 250, 1); border-bottom-style: solid; border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; padding-left: 8px; padding-right: 8px; border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -fsb-reusable-name: inbox_item_box; -fsb-reusable-id: 5a671a7d; -fsb-inherited-presets:  } .-fsb-self-99c51e64, .-fsb-preset-99c51e64 { -fsb-reusable-name: inbox_item; -fsb-reusable-id: 99c51e64; background: rgba(214, 237, 255, 1); padding-bottom: 10px; padding-left: 10px; padding-right: 10px; color: rgba(69, 69, 69, 1); padding-top: 10px; font-size: 14px; margin-bottom: 3px; border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(77, 195, 250, 1); border-right-color: rgba(77, 195, 250, 1); border-bottom-color: rgba(77, 195, 250, 1); border-left-color: rgba(77, 195, 250, 1) } .-fsb-self-1c6d525c, .-fsb-preset-1c6d525c { text-align: center; color: rgba(255, 255, 255, 1); font-size: 24px; margin-top: 80px; margin-bottom: 80px; -fsb-reusable-name: herounit_wording; -fsb-reusable-id: 1c6d525c } .-fsb-self-81b0161d, .-fsb-preset-81b0161d { background: rgba(22, 98, 250, 1); -fsb-reusable-name: herounit_box; -fsb-reusable-id: 81b0161d } .-fsb-self-d0010264, .-fsb-preset-d0010264 { -fsb-reusable-name: feature_title; -fsb-reusable-id: d0010264; text-align: center } .-fsb-self-71b995e4, .-fsb-preset-71b995e4 { -fsb-reusable-name: feature_subtitle; -fsb-reusable-id: 71b995e4; font-size: 13px } .-fsb-self-9edb5748, .-fsb-preset-9edb5748 { -fsb-reusable-name: feature_dash; -fsb-reusable-id: 9edb5748; height: 1px; margin-top: 15px; margin-bottom: 15px; border-top-style: solid; border-top-color: rgba(22, 98, 250, 1) }</style>
    </head>
    <body>
      
      <div internal-fsb-guid="0" class="container-fluid internal-fsb-begin">
        
        <div class="row internal-fsb-strict-layout internal-fsb-begin-layout">
          
          <div internal-fsb-guid="9baed530" class="internal-fsb-element col-12">
            
            <div class="container-fluid">
              
              <div class="row internal-fsb-strict-layout">
                
                <span internal-fsb-init-class="Project.Controls.FlowLayout_00ce1665" internal-fsb-init-forward="{'classes': '', 'styles': {}}"></span>
                
              </div>
              
            </div>
            
          </div>
          
          <div internal-fsb-guid="94ab9997" class="internal-fsb-element col-10 offset-1 -fsb-preset-180079a2" style="-fsb-inherited-presets: 180079a2;">
            
            <div class="container-fluid">
              
              <div class="row internal-fsb-strict-layout">
                
                <div internal-fsb-guid="d4338262" class="internal-fsb-element -fsb-preset-7a279686 col-12 offset-0" style="-fsb-inherited-presets: 7a279686;">
                  ผลการประมูลราคาวัสดุก่อสร้าง
                </div>
                
                <div internal-fsb-guid="b864ab8e" class="internal-fsb-element col-12 -fsb-preset-4839e353" style="-fsb-inherited-presets: 4839e353;">
                  ข้างล่างนี้คือผลการประมูล กรุณาเลือกร้านค้าที่คุณพอใจมากที่สุด เพื่อชำระเงินในขั้นถัดไป
                </div>
                
                <div internal-fsb-guid="5037e0c4" class="internal-fsb-element col-6 offset-0 -fsb-preset-b6c9ad89" style="-fsb-inherited-presets: b6c9ad89; border-right-style: solid; border-right-color: rgba(22, 98, 250, 1); border-right-width: 1px;">
                  
                  <div class="container-fluid">
                    
                    <div class="row internal-fsb-strict-layout">
                      
                      <div internal-fsb-guid="28d79e4e" class="internal-fsb-element -fsb-preset-7a279686 col-12 offset-0" style="-fsb-inherited-presets: 7a279686; text-align: center;">
                        ร้านค้าที่เสนอครบ
                      </div>
                      
                      <div internal-fsb-guid="9e116c4b" class="internal-fsb-element col-12 -fsb-preset-4839e353" style="-fsb-inherited-presets: 4839e353; text-align: center;">
                        ครบทุกรายการสินค้าตามที่คุณได้ระบุไว้
                      </div>
                      
                      <div internal-fsb-guid="839d87a6" class="internal-fsb-element col-12">
                        
                        <div class="container-fluid">
                          
                          <div class="row internal-fsb-strict-layout">
                            <label internal-fsb-guid="0a1d7749" class="internal-fsb-element col-12 offset-0" style="padding-left: 0px; padding-right: 0px;">
                              
                              <div class="container-fluid">
                                
                                <div class="row internal-fsb-strict-layout">
                                  
                                  <div internal-fsb-guid="bc041e39" class="internal-fsb-element offset--10 -fsb-preset-b6c9ad89 col-2 offset-0">
                                    <input style="display: block; -fsb-inherited-presets: b6c9ad89;" type="radio" />
                                  </div>
                                  
                                  <div internal-fsb-guid="94372513" class="internal-fsb-element -fsb-preset-b5cd72c0 col-10 offset-0" style="-fsb-inherited-presets: b5cd72c0;">
                                    #1 ร้านทดสอบหนึ่งสองสาม
                                  </div>
                                  
                                  <div internal-fsb-guid="d5ecb95b" class="internal-fsb-element col-10 offset-2 -fsb-preset-4839e353" style="-fsb-inherited-presets: 4839e353;">
                                    อำเภอเมือง เชียงใหม่ (5 กม.)
                                  </div>
                                  
                                  <div internal-fsb-guid="22bd4142" class="internal-fsb-element -fsb-preset-b5cd72c0 col-10 offset-2" style="-fsb-inherited-presets: b5cd72c0; margin-bottom: 5px;">
                                    ราคารวม 25,000 บาท
                                  </div>
                                  
                                  <div internal-fsb-guid="ec8c24ab" class="internal-fsb-element -fsb-preset-8050ab15 col-10 offset-2" style="-fsb-inherited-presets: 8050ab15;">
                                    โปรโมชั่นพิเศษ: คิดส่วนลดในครั้งถัดไป 12.5%
                                  </div>
                                  
                                </div>
                                
                              </div>
                              
                            </label>
                          </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </div>
                
                <div internal-fsb-guid="35d94303" class="internal-fsb-element col-6 offset-0 -fsb-preset-b6c9ad89" style="-fsb-inherited-presets: b6c9ad89; border-left-style: solid; border-left-color: rgba(22, 98, 250, 1); border-left-width: 1px;">
                  
                  <div class="container-fluid">
                    
                    <div class="row internal-fsb-strict-layout">
                      
                      <div internal-fsb-guid="32d5d986" class="internal-fsb-element col-12 -fsb-preset-7a279686" style="-fsb-inherited-presets: 7a279686; text-align: center;">
                        ร้านค้าที่เสนอไม่ครบ
                      </div>
                      
                      <div internal-fsb-guid="740014ae" class="internal-fsb-element col-12 -fsb-preset-4839e353" style="-fsb-inherited-presets: 4839e353; text-align: center;">
                        มีเฉพาะบางรายการสินค้าตามที่คุณได้ระบุไว้
                      </div>
                      
                      <div internal-fsb-guid="33eb2aa3" class="internal-fsb-element col-12">
                        
                        <div class="container-fluid">
                          
                          <div class="row internal-fsb-strict-layout">
                            <label internal-fsb-guid="9db8b3b2" class="internal-fsb-element col-12" style="padding-left: 0px; padding-right: 0px;">
                              
                              <div class="container-fluid">
                                
                                <div class="row internal-fsb-strict-layout">
                                  
                                  <div internal-fsb-guid="1411ca4c" class="internal-fsb-element -fsb-preset-b6c9ad89 col-2 offset-0">
                                    <input style="display: block; -fsb-inherited-presets: b6c9ad89;" type="checkbox" />
                                  </div>
                                  
                                  <div internal-fsb-guid="60a42697" class="internal-fsb-element -fsb-preset-b5cd72c0 col-10 offset-0" style="-fsb-inherited-presets: b5cd72c0;">
                                    #1 ร้านทดสอบสี่ห้าหก
                                  </div>
                                  
                                  <div internal-fsb-guid="9e41cae9" class="internal-fsb-element col-10 offset-2 -fsb-preset-4839e353" style="-fsb-inherited-presets: 4839e353;">
                                    อำเภอเมือง ลำพูน (14 กม.)
                                  </div>
                                  
                                  <div internal-fsb-guid="9491a176" class="internal-fsb-element -fsb-preset-b5cd72c0 col-10 offset-2" style="-fsb-inherited-presets: b5cd72c0; margin-bottom: 5px;">
                                    ราคารวม 15,000 บาท
                                  </div>
                                  
                                  <div internal-fsb-guid="89106a70" class="internal-fsb-element -fsb-preset-8050ab15 col-10 offset-2" style="-fsb-inherited-presets: 8050ab15;">
                                    
                                    <div>
                                      รายการสินค้า: เหล็กกล้า, หน้าต่าง, กระเบื้อง
                                    </div>
                                    
                                  </div>
                                  
                                  <div internal-fsb-guid="5123ace7" class="internal-fsb-element -fsb-preset-8050ab15 col-10 offset-2" style="-fsb-inherited-presets: 8050ab15;">
                                    โปรโมชั่นพิเศษ: คิดส่วนลดในครั้งถัดไป 10%
                                  </div>
                                  
                                </div>
                                
                              </div>
                              
                            </label>
                          </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
              
            </div>
            
          </div>
          
          <button internal-fsb-guid="bdcbb907" class="internal-fsb-element  col-4 offset-4 btn btn-primary btn-sm" style="margin-top: 15px;" type="button">
            
            <div internal-fsb-guid="bdcbb907-text" class="internal-fsb-element">
              ถัดไป: เลือกวิธีการจ่ายเงิน
            </div>
            
          </button>
          
          <span internal-fsb-init-class="Project.Controls.FlowLayout_41288a78"></span>
          
          <button internal-fsb-guid="c1c0694d" class="internal-fsb-element  col-4 offset-2 btn btn-primary btn-sm" style="margin-top: 15px; margin-right: 10px;" type="button">
            
            <div internal-fsb-guid="c1c0694d-text" class="internal-fsb-element">
              ย้อนกลับ
            </div>
            
          </button>
          <button internal-fsb-guid="d480ae4d" class="internal-fsb-element  col-4 offset-0 btn btn-primary btn-sm" style="margin-left: 10px; margin-top: 15px;" type="button">
            
            <div internal-fsb-guid="d480ae4d-text" class="internal-fsb-element">
              ถัดไป: จ่ายเงิน
            </div>
            
          </button>
          
          <span internal-fsb-init-class="Project.Controls.FlowLayout_d22b95d9" internal-fsb-init-forward="{'classes': 'col-10 offset-1', 'styles': {'marginTop': '30px'}}"></span>
          
        </div>
        
      </div>
      <script type="text/javascript" src="/js/Embed.bundle.js"></script>
      <script type="text/javascript">
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = functionName;
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key];
                          var element = this.getElementUsingGUID(guid);
                          element.addEventListener(eventName, this[functionName].bind(this), false);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      
      </script>
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      
      <script type="text/javascript">
      window.data = !{JSON.stringify(data)};
      </script>
      <script type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/Site.bundle.js"></script>
    </body>
  </html>

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.