//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'WiseBOQ - ร้านค้าวัสดุก่อสร้าง'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'WiseBOQ - ร้านค้าวัสดุก่อสร้าง')
    meta(property="og:url" content=headers && headers.linkUrl || '/bidder')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    link(rel="stylesheet" href="//staging.stackblend.com/css/embed.css")
    link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    style(type="text/css").
      .-fsb-self-8141382a, .-fsb-preset-8141382a { text-align: center; -fsb-reusable-name: step_header_title; -fsb-reusable-id: 8141382a } .-fsb-self-41e62256, .-fsb-preset-41e62256 { -fsb-inherited-presets: ; margin-top: 10px; margin-bottom: 15px; border-top-color: rgba(22, 98, 250, 1); -fsb-reusable-name: step_header_hr; -fsb-reusable-id: 41e62256; height: 5px; background: rgba(22, 98, 250, 1) } .-fsb-self-eb7259a4, .-fsb-preset-eb7259a4 { margin-top: 30px; -fsb-reusable-name: step_container; -fsb-reusable-id: eb7259a4 } .-fsb-self-57595ad9, .-fsb-preset-57595ad9 { margin-left: 10px; margin-right: 10px; width: 1px; background: rgba(22, 98, 250, 1); -fsb-reusable-name: splitter; -fsb-reusable-id: 57595ad9 } .-fsb-self-4011457d, .-fsb-preset-4011457d { text-align: center; margin-top: 30px; font-size: 18px; -fsb-reusable-name: role_title; -fsb-reusable-id: 4011457d } .-fsb-self-5d1104e1, .-fsb-preset-5d1104e1 { -fsb-reusable-name: role_subtitle; -fsb-reusable-id: 5d1104e1; text-align: center; margin-top: 30px; font-size: 14px; margin-bottom: 20px } .-fsb-self-856191b9, .-fsb-preset-856191b9 { -fsb-reusable-name: role_button; -fsb-reusable-id: 856191b9; margin-bottom: 15px } .-fsb-self-69085d73, .-fsb-preset-69085d73 { background: rgba(22, 98, 250, 1); color: rgba(255, 255, 255, 1); -fsb-reusable-name: role_box; -fsb-reusable-id: 69085d73; padding-bottom: 15px } .-fsb-self-7a279686, .-fsb-preset-7a279686 { -fsb-reusable-name: quote_box_title; -fsb-reusable-id: 7a279686; font-size: 15px; font-weight: bold; color: rgba(22, 98, 250, 1); margin-bottom: 5px } .-fsb-self-4839e353, .-fsb-preset-4839e353 { -fsb-reusable-name: quote_box_subtitle; -fsb-reusable-id: 4839e353; margin-bottom: 15px; font-size: 13px; color: rgba(69, 69, 69, 1) } .-fsb-self-c6ba5b53, .-fsb-preset-c6ba5b53 { background: rgba(214, 237, 255, 1); border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; margin-bottom: 5px; border-top-style: solid; border-top-color: rgba(77, 195, 250, 1); border-left-style: solid; border-left-color: rgba(77, 195, 250, 1); border-right-style: solid; border-right-color: rgba(77, 195, 250, 1); border-bottom-color: rgba(77, 195, 250, 1); border-bottom-style: solid; border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; padding-top: 5px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px; -fsb-reusable-name: quote_box_review_item; -fsb-reusable-id: c6ba5b53 } .-fsb-self-65ec89d1, .-fsb-preset-65ec89d1 { font-size: 13px; color: rgba(69, 69, 69, 1); background: rgba(255, 255, 255, 0); padding-top: 5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; -fsb-reusable-name: quote_box_review_detail; -fsb-reusable-id: 65ec89d1 } .-fsb-self-1715aae1, .-fsb-preset-1715aae1 { text-align: center; margin-bottom: 10px; margin-top: 10px; -fsb-reusable-name: quote_box_notice; -fsb-reusable-id: 1715aae1 } .-fsb-self-b5cd72c0, .-fsb-preset-b5cd72c0 { -fsb-reusable-name: quote_box_input_title; -fsb-reusable-id: b5cd72c0; font-size: 13px } .-fsb-self-8050ab15, .-fsb-preset-8050ab15 { -fsb-inherited-presets: ; -fsb-reusable-name: quote_box_input_subtitle; -fsb-reusable-id: 8050ab15; font-size: 12px; color: rgba(128, 128, 128, 1); line-height: 16px; padding-top: 5px } .-fsb-self-b6c9ad89 > :first-child, .-fsb-preset-b6c9ad89 > :first-child { display: block; -fsb-for-children: true; margin-right: 0px; -fsb-reusable-name: quote_box_input; -fsb-reusable-id: b6c9ad89; margin-top: 3px } .-fsb-self-180079a2, .-fsb-preset-180079a2 { margin-top: 25px; -fsb-reusable-name: quote_box; -fsb-reusable-id: 180079a2 } .-fsb-self-ace3bb6e, .-fsb-preset-ace3bb6e { font-weight: bold; -fsb-reusable-name: navigation_title; -fsb-reusable-id: ace3bb6e; font-size: 15px } .-fsb-self-39295633, .-fsb-preset-39295633 { -fsb-reusable-name: membership_title; -fsb-reusable-id: 39295633; text-align: center; margin-bottom: 15px; font-weight: bold; font-size: 18px; border-bottom-width: 1px; border-bottom-color: rgba(255, 255, 255, 1) } .-fsb-self-e1ea91ae, .-fsb-preset-e1ea91ae { -fsb-reusable-name: membership_price; -fsb-reusable-id: e1ea91ae; text-align: center; margin-top: 15px; background: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 1); padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; font-size: 14px; border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.5); border-left-style: solid; border-left-color: rgba(255, 255, 255, 0.5); border-bottom-style: solid; border-right-style: solid; border-right-color: rgba(255, 255, 255, 0.5); border-bottom-color: rgba(255, 255, 255, 0.5); border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px } .-fsb-self-7b53142e, .-fsb-preset-7b53142e { -fsb-reusable-name: membership_detail; -fsb-reusable-id: 7b53142e; text-align: center; font-size: 14px } .-fsb-self-bb540e9d, .-fsb-preset-bb540e9d { -fsb-reusable-name: membership_box_top; -fsb-reusable-id: bb540e9d; color: rgba(255, 255, 255, 1); background: rgba(22, 98, 250, 1); padding-left: 30px; padding-right: 30px; padding-bottom: 20px; padding-top: 20px; border-right-color: rgba(255, 255, 255, 1); border-right-width: 1px; border-left-width: 1px; border-left-color: rgba(255, 255, 255, 1); border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-left-style: solid; border-right-style: solid } .-fsb-self-023baa4c, .-fsb-preset-023baa4c { -fsb-inherited-presets: ; -fsb-reusable-name: membership_box_bottom; -fsb-reusable-id: 023baa4c; background: rgba(22, 98, 250, 1); padding-bottom: 15px; border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; border-right-style: solid; border-right-color: rgba(255, 255, 255, 1); border-left-color: rgba(255, 255, 255, 1); border-left-style: solid; border-left-width: 1px; border-right-width: 1px } .-fsb-self-49a6327a, .-fsb-preset-49a6327a { font-weight: bold; color: rgba(22, 98, 250, 1); padding-right: 0px; margin-bottom: 3px; padding-left: 0px; -fsb-reusable-name: inbox_item_box_title; -fsb-reusable-id: 49a6327a } .-fsb-self-3bec5885, .-fsb-preset-3bec5885 { padding-left: 0px; padding-right: 0px; text-align: center; color: rgba(255, 255, 255, 1); background: rgba(77, 195, 250, 1); border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; font-size: 11px; padding-top: 1px; -fsb-reusable-name: inbox_item_box_tag; -fsb-reusable-id: 3bec5885 } .-fsb-self-4aee31ab, .-fsb-preset-4aee31ab { padding-left: 0px; padding-right: 0px; color: rgba(69, 69, 69, 1); font-size: 12px; -fsb-reusable-name: inbox_item_box_subtitle; -fsb-reusable-id: 4aee31ab } .-fsb-self-e76846ad, .-fsb-preset-e76846ad { background: rgba(214, 237, 255, 1); width: 100%; -fsb-reusable-name: inbox_item_box; -fsb-reusable-id: e76846ad; text-align: left; border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-top-style: solid; border-top-color: rgba(77, 195, 250, 1); border-left-color: rgba(77, 195, 250, 1); border-left-style: solid; border-right-style: solid; border-right-color: rgba(77, 195, 250, 1); border-bottom-style: solid; border-bottom-color: rgba(77, 195, 250, 1); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-top: 5px; padding-bottom: 5px; padding-left: 8px; padding-right: 8px; margin-bottom: 5px; font-size: 13px } .-fsb-self-99c51e64, .-fsb-preset-99c51e64 { -fsb-reusable-name: inbox_item; -fsb-reusable-id: 99c51e64; background: rgba(214, 237, 255, 1); padding-bottom: 10px; padding-left: 10px; padding-right: 10px; color: rgba(69, 69, 69, 1); padding-top: 10px; font-size: 14px; margin-bottom: 3px; border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(77, 195, 250, 1); border-right-color: rgba(77, 195, 250, 1); border-bottom-color: rgba(77, 195, 250, 1); border-left-color: rgba(77, 195, 250, 1) } .-fsb-self-1c6d525c, .-fsb-preset-1c6d525c { text-align: center; color: rgba(255, 255, 255, 1); font-size: 24px; margin-top: 80px; margin-bottom: 80px; -fsb-reusable-name: herounit_wording; -fsb-reusable-id: 1c6d525c } .-fsb-self-81b0161d, .-fsb-preset-81b0161d { background: rgba(22, 98, 250, 1); -fsb-reusable-name: herounit_box; -fsb-reusable-id: 81b0161d } .-fsb-self-d0010264, .-fsb-preset-d0010264 { -fsb-reusable-name: feature_title; -fsb-reusable-id: d0010264; text-align: center } .-fsb-self-71b995e4, .-fsb-preset-71b995e4 { -fsb-reusable-name: feature_subtitle; -fsb-reusable-id: 71b995e4; font-size: 13px } .-fsb-self-9edb5748, .-fsb-preset-9edb5748 { -fsb-reusable-name: feature_hr; -fsb-reusable-id: 9edb5748; height: 1px; margin-top: 15px; margin-bottom: 15px; border-top-style: solid; border-top-color: rgba(22, 98, 250, 1) }
  body
    
    .container-fluid.internal-fsb-begin(internal-fsb-guid="0")
      .row.internal-fsb-strict-layout.internal-fsb-begin-layout
        span(internal-fsb-init-class="Project.Common.NavigationBar" internal-fsb-init-forward="{'classes': 'col-12', 'styles': {}}")
        .internal-fsb-element.col-12.-fsb-preset-81b0161d(style={'-fsb-inherited-presets': '81b0161d', 'background': 'rgba(153, 24, 245, 1)'}, internal-fsb-guid="83bb535d")
          .container-fluid
            .row.internal-fsb-strict-layout
              .internal-fsb-element.col-12.-fsb-preset-1c6d525c(style={'-fsb-inherited-presets': '1c6d525c'}, internal-fsb-guid="200e2846")
                | WiseBOQ ช่วยให้คุณหาลูกค้าได้มากยิ่งขึ้น
                div
                  | จากระบบอินเทอร์เน็ต
                  span(style={'font-family': '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'})
                    | และสามารถโต้ตอบกับลูกค้าได้ทันท่วงที
                div
                  | ไม่ว่าพนักงานของคุณจะอยู่ที่บ้านหรือร้านค้าก็ตาม
        .internal-fsb-element.col-10.offset-1(style={'margin-top': '30px', 'text-align': 'center', 'margin-bottom': '15px'}, internal-fsb-guid="b6cc623c")
          | ผลประโยชน์ที่ร้านค้าจะได้รับ
        .internal-fsb-element.col-10.offset-1(internal-fsb-guid="b2004234")
          .container-fluid
            .row.internal-fsb-strict-layout
              .internal-fsb-element.col-3.offset-0.-fsb-preset-d0010264(style={'-fsb-inherited-presets': 'd0010264'}, internal-fsb-guid="b540187c")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.offset-0(internal-fsb-guid="ce1ac862")
                      img(style={'display': 'block', 'width': '100%', 'margin-bottom': '15px'}, src="https://wiseboq-static-files.s3-ap-northeast-1.amazonaws.com/confidential.png")
                    .internal-fsb-element.col-12(internal-fsb-guid="8ec0683d")
                      | ราคาประมูลและราคาวัสดุก่อสร้าง
                      span(style={'font-family': '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"', 'font-size': '1rem'})
                        | ของคุณไม่มีวันเห็นจากร้านค้าที่เป็นคู่แข่งโดยเด็ดขาด
                      div
              .internal-fsb-element.col-3.offset-0.-fsb-preset-d0010264(style={'-fsb-inherited-presets': 'd0010264'}, internal-fsb-guid="6985db1b")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.offset-0(internal-fsb-guid="d3e750d0")
                      img(style={'display': 'block', 'width': '100%', 'margin-bottom': '15px'}, src="https://wiseboq-static-files.s3-ap-northeast-1.amazonaws.com/star.png")
                    .internal-fsb-element.col-12(internal-fsb-guid="57383836")
                      | ประมูลราคาพร้อมยื่นข้อเสนอพิเศษเพื่อแข่งขัน
              .internal-fsb-element.col-3.offset-0.-fsb-preset-d0010264(style={'-fsb-inherited-presets': 'd0010264'}, internal-fsb-guid="70e1ac77")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.offset-0(internal-fsb-guid="e8b5a331")
                      img(style={'display': 'block', 'width': '100%', 'margin-bottom': '15px'}, src="https://wiseboq-static-files.s3-ap-northeast-1.amazonaws.com/registered.png")
                    .internal-fsb-element.col-12(internal-fsb-guid="471cde4c")
                      | สามารถลองดูได้หลากหลายรูปแบบเพื่อสร้างกำไรที่สูงที่สุด
              .internal-fsb-element.col-3.offset-0.-fsb-preset-d0010264(style={'-fsb-inherited-presets': 'd0010264'}, internal-fsb-guid="3be509aa")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.offset-0(internal-fsb-guid="49643a07")
                      img(style={'display': 'block', 'width': '100%', 'margin-bottom': '15px'}, src="https://wiseboq-static-files.s3-ap-northeast-1.amazonaws.com/mobile.png")
                    .internal-fsb-element.col-12(internal-fsb-guid="58977e28")
                      | คุณสามารถโต้ตอบกับลูกค้าผ่านระบบของเราได้ทันที
        .internal-fsb-element.col-10.offset-1(internal-fsb-guid="885ed632")
          .container-fluid
            .row.internal-fsb-strict-layout
              .internal-fsb-element.col-3.offset-0(internal-fsb-guid="926888a8")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.-fsb-preset-9edb5748.col-8.offset-2(style={'-fsb-inherited-presets': '9edb5748', 'border-top-color': 'rgba(153, 24, 245, 1)'}, internal-fsb-guid="b5447929")
                    .internal-fsb-element.col-12.-fsb-preset-71b995e4(style={'-fsb-inherited-presets': '71b995e4'}, internal-fsb-guid="72c8c973")
                      | เราใช้มาตราฐานและวิถีทาง User Interface และ User Experience ไม่ว่าจะเป็นฝั่งร้านค้าวัสดุก่อสร้างหรือผู้ที่ต้องการสั่งซื้อก็ตามเพื่อปกปิดราคาวัสดุก่อสร้างของคุณในระหว่างกำลังหรือหลังจากประมูลเสร็จสิ้นไปแล้ว เพื่อให้ร้านค้าของคุณไม่ถูกแทรกแซงทางการค้า
                      div
                        br
                      div
                        | นอกจากนี้เราการ์รันตีว่าบริษัทจะปกป้องรักษาข้อมูลต่างๆ ที่คุณได้มอบไว้กับ WiseBOQ ไม่ให้รั่วไหลไปยังคู่ค้าของคุณโดยเด็ดขาด
              .internal-fsb-element.col-3.offset-0(internal-fsb-guid="c812489a")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.-fsb-preset-9edb5748.col-8.offset-2(style={'-fsb-inherited-presets': '9edb5748', 'border-top-color': 'rgba(153, 24, 245, 1)'}, internal-fsb-guid="ca52b076")
                    .internal-fsb-element.col-12.-fsb-preset-71b995e4(style={'-fsb-inherited-presets': '71b995e4'}, internal-fsb-guid="2a95dab1")
                      | นอกจากการที่คุณจะต้องแข่งขันราคาประมูลเพื่อให้ได้ราคาถูกที่สุด คุณสามารถยื่นเสนออื่นๆ ให้กับลูกค้าของคุณได้ อาทิเช่น ส่วนลดในครั้งถัดไป, นักออกแบบบ้านหรือสถาปนิก, ช่างสวนและช่างก่อสร้างระดับมืออาชีพ เป็นต้น เพื่อจูงใจให้ลูกค้านั้นเลือกร้านค้าของคุณโดยที่คุณไม่จำเป็นต้องตัดใจสร้างยอดขายโดยลดกำไรลงให้เหลือน้อยที่สุดแต่อย่างไร
              .internal-fsb-element.col-3.offset-0(internal-fsb-guid="01b5c328")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.-fsb-preset-9edb5748.col-8.offset-2(style={'-fsb-inherited-presets': '9edb5748', 'border-top-color': 'rgba(153, 24, 245, 1)'}, internal-fsb-guid="cb2cd0b9")
                    .internal-fsb-element.col-12.-fsb-preset-71b995e4(style={'-fsb-inherited-presets': '71b995e4'}, internal-fsb-guid="63ee3bd0")
                      | คุณสามารถสร้างข้อเสนอได้หลากหลายรูปแบบและจำแนกไว้เป็นกลุ่มๆ เพื่อดูว่าแบบใดได้กำไรมากที่สุดเพื่อนำรูปแบบดังกล่าวมาใช้เป็นกลยุทธ์หลัก
                      div
                        br
                      div
                        | นอกจากนี้คุณสามารถปรับเปลี่ยนระดับของการเป็นสมาชิก ตั้งแต่ระดับพื้นฐาน (ค่าคอมมิชชั่น 2.5% โดยไม่มีค่าสมาชิกรายเดือน) ไปจนระดับแพลตตินั่ม (ค่าคอมมิชชั่น 0.5% โดยจ่ายค่าสมาชิกรายเดือนสูงสุดเพียงห้าหมื่นบาท) เพื่อทำให้คุณนั้นสามารถสร้างกำไรที่สูงที่สุดสัมพันธ์กับยอดขายของคุณที่ได้รับต่อเดือนได้อีกด้วย
              .internal-fsb-element.col-3.offset-0(internal-fsb-guid="91cb2020")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.-fsb-preset-9edb5748.col-8.offset-2(style={'-fsb-inherited-presets': '9edb5748', 'border-top-color': 'rgba(153, 24, 245, 1)'}, internal-fsb-guid="4bdcdb34")
                    .internal-fsb-element.col-12.-fsb-preset-71b995e4(style={'-fsb-inherited-presets': '71b995e4'}, internal-fsb-guid="133e62d8")
                      div
                        span(style={'font-family': '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'})
                          | นอกจากนี้ทางเรายังมีระบบปฏิสัมพันธ์กับลูกค้าผ่านการพูดคุยกันผ่านข้อความและแอปพลิเคชันซึ่งสามารถ notify ไปยังหน้าจอของมือถือไม่ว่าจะเป็นมือถือตระกูล iOS หรือ Android เพื่อทักให้ลูกค้านั้นกลับมาสนทนาในเวลาทันใด
                        br
                      div
                        span(style={'font-family': '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'})
                          br
                      div
                        span(style={'font-family': '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'})
                          | ทั้งนี้สามารถเข้าถึงระบบปฏิสัมพันธ์กับลูกค้าดังกล่าวจากมือถือของพนักงานได้โดยตรงซึ่งจะเชื่อมโยงข้อมูลเข้าด้วยกันและมีหน้า Dashboard ที่สามารถสรุปผลการดำเนินงานของแต่ละพนักงานโดยไม่ต้องทำเองได้อีกด้วย
        .internal-fsb-element.col-8.offset-2(style={'margin-top': '30px', 'overflow-x': 'hidden', '-ms-overflow-x': 'hidden', 'overflow-y': 'hidden', '-ms-overflow-y': 'hidden', 'padding-left': '0px', 'padding-right': '0px', 'background': 'rgba(153, 24, 245, 0)'}, internal-fsb-guid="5c827d4d")
          .container-fluid
            .row.internal-fsb-strict-layout
              .internal-fsb-element.col-4.offset-0.-fsb-self-bb540e9d(internal-fsb-guid="bb540e9d")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.-fsb-self-39295633(internal-fsb-guid="39295633")
                      | ระดับพื้นฐาน
                    .internal-fsb-element.-fsb-preset-9edb5748.col-4.offset-4(style={'-fsb-inherited-presets': '9edb5748', 'border-top-color': 'rgba(255, 255, 255, 1)', 'min-height': '5px'}, internal-fsb-guid="58a328e2")
                    .internal-fsb-element.col-12.-fsb-self-7b53142e(internal-fsb-guid="7b53142e")
                      | ✓ รับลูกค้าได้ไม่จำกัด
                      div
                        | ✓ ปกปิดราคาวัสดุก่อสร้างไม่ให้รั่วไหล
                      div
                        | ✓ สามารถยื่นข้อเสนอพิเศษสุดได้
                      div
                        | ✓ สามารถแชทคุยกับลูกค้าได้ทีละคน มากกว่านั้นคิดเพิ่ม 1,000 บาทต่อคน
              .internal-fsb-element.col-4.offset-0.-fsb-preset-bb540e9d(style={'-fsb-inherited-presets': 'bb540e9d'}, internal-fsb-guid="80154d87")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.-fsb-preset-39295633(style={'-fsb-inherited-presets': '39295633'}, internal-fsb-guid="e4b845b9")
                      | ระดับมืออาชีพ
                    .internal-fsb-element.-fsb-preset-9edb5748.col-4.offset-4(style={'-fsb-inherited-presets': '9edb5748', 'border-top-color': 'rgba(255, 255, 255, 1)', 'min-height': '5px'}, internal-fsb-guid="5cab594a")
                    .internal-fsb-element.col-12.-fsb-preset-7b53142e(style={'-fsb-inherited-presets': '7b53142e'}, internal-fsb-guid="ca0303c9")
                      | ✓ รับลูกค้าได้ไม่จำกัด
                      div
                        | ✓ ปกปิดราคาวัสดุก่อสร้างไม่ให้รั่วไหล
                      div
                        | ✓ สามารถยื่นข้อเสนอพิเศษสุดได้
                      div
                        | ✓ สามารถแชทคุยกับลูกค้าได้ 5 คนพร้อมกัน มากกว่านั้นคิดเพิ่ม 1,000 บาทต่อคน
              .internal-fsb-element.col-4.offset-0.-fsb-preset-bb540e9d(style={'-fsb-inherited-presets': 'bb540e9d'}, internal-fsb-guid="902bd782")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-12.-fsb-preset-39295633(style={'-fsb-inherited-presets': '39295633'}, internal-fsb-guid="91b1e928")
                      | ระดับแพลตตินั่ม
                    .internal-fsb-element.-fsb-preset-9edb5748.col-4.offset-4(style={'-fsb-inherited-presets': '9edb5748', 'border-right-color': 'rgba(255, 255, 255, 1)', 'border-top-color': 'rgba(255, 255, 255, 1)', 'min-height': '5px'}, internal-fsb-guid="0236a342")
                    .internal-fsb-element.col-12.-fsb-preset-7b53142e(style={'-fsb-inherited-presets': '7b53142e'}, internal-fsb-guid="c1357bd0")
                      div
                        | ✓ รับลูกค้าได้ไม่จำกัด
                      div
                        | ✓ ปกปิดราคาวัสดุก่อสร้างไม่ให้รั่วไหล
                      div
                        | ✓ สามารถยื่นข้อเสนอพิเศษสุดได้
                      div
                        | ✓ สามารถแชทคุยกับลูกค้าได้ไม่จำกัด
                      | ✓ แสดงยอดขายไว้บนสุดของหน้า
                      |                                     
              .internal-fsb-element.col-12(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-guid="3e836398")
                .container-fluid
                  .row.internal-fsb-strict-layout
                    .internal-fsb-element.col-4.offset-0.-fsb-self-023baa4c(internal-fsb-guid="023baa4c")
                      .container-fluid
                        .row.internal-fsb-strict-layout
                          .internal-fsb-element.-fsb-self-e1ea91ae.col-10.offset-1(internal-fsb-guid="e1ea91ae")
                            | ค่าคอมมิชชั่น 2.5%
                            div
                              | ไม่มีค่าสมาชิกรายเดือน
                    .internal-fsb-element.col-4.offset-0.-fsb-preset-023baa4c(style={'-fsb-inherited-presets': '023baa4c'}, internal-fsb-guid="d9d9da98")
                      .container-fluid
                        .row.internal-fsb-strict-layout
                          .internal-fsb-element.-fsb-preset-e1ea91ae.col-10.offset-1(style={'-fsb-inherited-presets': 'e1ea91ae'}, internal-fsb-guid="01e1d4e1")
                            | ค่าคอมมิชชั่น 1%
                            div
                              | ค่าสมาชิกรายเดือน 10,000 บาท
                    .internal-fsb-element.col-4.offset-0.-fsb-preset-023baa4c(style={'-fsb-inherited-presets': '023baa4c'}, internal-fsb-guid="d59ace97")
                      .container-fluid
                        .row.internal-fsb-strict-layout
                          .internal-fsb-element.-fsb-preset-e1ea91ae.col-10.offset-1(style={'-fsb-inherited-presets': 'e1ea91ae'}, internal-fsb-guid="3a1d8c9a")
                            | ค่าคอมมิชชั่น 0.5%
                            div
                              | ค่าสมาชิกรายเดือน 50,000 บาท
        span(internal-fsb-init-class="Project.Common.RoleSelector" internal-fsb-init-forward="{'classes': 'col-12', 'styles': {'margin-top': '50px', 'margin-bottom': '50px'}}")
        span(internal-fsb-init-class="Project.Common.Footer" internal-fsb-init-forward="{'classes': 'col-10 offset-1', 'styles': {'margin-top': '30px'}}")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = functionName;
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key];
                          var element = this.getElementUsingGUID(guid);
                          element.addEventListener(eventName, this[functionName].bind(this), false);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    script(type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js")
    script(type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(type="text/javascript" src="/js/Site.bundle.js")

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.